html { 
    background: 
    /* linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
        ), */
    url(../images/cc.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-family: 'Handlee', cursive;
    color: #fffeea;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    margin: 10px auto;
   
}
img {
    width: 20%;
    margin-right: 10px;
}

.container {
    max-width: 1000px;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border: 3px solid #fffeea;
    height: auto;
}

.paragraph {
    background: #fffeea;
    padding: 0 20px;
    margin: 10px 0;
    float: left;
    width: 30%;
    border-radius: 5px;
}

.right {
    float: left;
    width: 60%;
    padding: 0 15px;
}

.clear {
    clear: both;
}

.target {
    max-width: 200px;
    margin: 10px 0;
    padding: 2px 10px;
    background: #fffeea;
    color: black;
    border-radius: 5px;
}

.score {
    max-width: 150px;
    margin: 10px 0;
    padding: 2px 10px;
    background: #fffeea;
    color: black;
    border-radius: 5px;
}

@media screen and (max-width: 1030px){
    .container {
        width: 95%;
    }
}
@media screen and (max-width: 760px){
    .paragraph{
        width: 90%;
        margin-right: 0;
    }
}